.profile-container {
  height: 100vh;
  background: white;
}
.matters {
  border-right: 1px solid black;
  height: 100%;
  position: absolute;
  padding: 20px;
}
.matters p{
  border-bottom: 1px solid black;
  margin-top: 3rem;
}
.user-profile{
    padding-top: 5rem;
}